header {
    background: #007DF9;
    color: white;
    display: flex;
    justify-content: space-between;
    
    height: 150px;
    width: 100%;
}

.ghibli-logo {
    margin-left: 120px;
    padding: 10px;
    height: 116.75px;
    width: 250px;
}

nav {
    margin-right: 120px;
    padding: 10px;
}

.nav-div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;

    height: 100%;
}